@import "variables";

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  background-color: $bg-light;

  @media (prefers-color-scheme: dark) {
    background-color: $bg-dark;
  }
}

a {
  color: inherit;
  text-decoration: none;
}

.label {
  display: flex;
  flex-wrap: wrap;
  gap: 0.75rem;
  align-items: center;
  margin-bottom: 0.5rem;
  font-size: 1.25rem;
  color: $font-dark;

  @media (prefers-color-scheme: dark) {
    color: $font-light;
  }

  .rule {
    font-size: 0.85rem;
  }
}

.required {
  font-size: 1rem;
  font-weight: 700;
  color: $red;

  @media (prefers-color-scheme: dark) {
    color: $light-red;
  }
}

.error {
  padding-top: 0.5rem;
  margin-inline-start: 1rem;
  color: $red;

  @media (prefers-color-scheme: dark) {
    color: $light-red;
  }
}
